#masthead {
    max-width: 10000px;
    background: repeating-linear-gradient(
            -45deg,
                /*F2071B*/
            #b42935 0px,
            #b42935 200px,
            #024059 200px,
            #024059 400px,
            #037F8C 400px,
            #037F8C 600px,
            #03A6A6 600px,
            #03A6A6 800px,
            #D94E4E 800px,
            #D94E4E 1000px
    );

    position: fixed;
    top: 0;
    width: 100vw;
    height: 380pt;
    z-index: -1;
}

.site-logo {
    border: none !important;
    margin-top: 80px;
    transform: scale(1.5);

    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.site-title {
    text-transform: lowercase;
    font-size: 50px;

    font-family: Helvetica Neue, sans-serif;
    font-weight: 200;
}

.site-title a {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.site-description {
    font-size: 26px;

    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
}

.widget-area {
    margin-top: 40px;
    padding-top: 0;
}

code {
    border: solid 16px #292a2f;
    border-radius: 12px;
}

#content {
    margin-top: 380pt;
}

.search-field {
    background-color: #03A6A6 !important;
    color: whitesmoke !important;
}

.wp-block-search__input {
    background-color: #03A6A6 !important;
    color: whitesmoke !important;
}

.wp-block-search__button {
    padding: 10pt !important;
    width: 70pt !important;
}